<h1>About</h1>
<p>
	<!-- link can be created using HTML and/or Ruby as you see below -->
	<%= link_to "MAP", "http://michaelappsproject.com" %> is a website containing applications created by Michael Koh. This is a sample application.
</p>
